[Desktop Entry]
Name=@APP_NAME@
Comment=@APP_DESCRIPTION@
TryExec=@APP_EXEC@
Exec=env DESKTOPINTEGRATION=1 @APP_EXEC@ -- %u
Icon=@APP_ID@
Terminal=false
StartupWMClass=@APP_EXEC@
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;telegram;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=@APP_EXEC@ -quit
Name=Quit @APP_EXEC@
Icon=application-exit
